<div class="visualization-container">
  <div class="container">
    <h1>Visualization</h1>
    
    <div class="visualization-grid">
      <div class="visualization-card">
        <h2>Range Doppler</h2>
        <app-doppler-range></app-doppler-range>
      </div>
      
      <div class="visualization-card">
        <h2>Range Angle</h2>
        <app-angle-range></app-angle-range>
      </div>
      
      <div class="visualization-card target-counter-card">
        <h2>Detected Targets</h2>
        <app-target-counter></app-target-counter>
      </div>
    </div>
  </div>
</div>
